.profile {
  position: absolute;
  left: 150px;
  top: 120px;
}

.userName-title {
  color: #ff0101;
}

.profile-row {
  display: flex;
  width: 1125px;
}

.profile-row__graphic {
  display: flex;
  flex-wrap: wrap;
}
.profile-row__little-components {
  display: flex;
  flex-wrap: wrap;
}

.profile-row__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
