.barchart-graph {
  background-color: #fbfbfb;
  border-radius: 5px;
  width: 835px;
  height: 320px;
  position: relative;
}

.activity-graph__title {
  position: absolute;
  top: 3%;
  left: 3%;
  font-size: 15px;
  font-weight: 500;
  margin: 2rem;
}
