.profile-page {
  position: absolute;
  left: 150px;
  top: 120px;
}

.profile-page h1,
p {
  margin-left: 15px;
}

.userName-title {
  color: #ff0101;
}

.profile-row {
  display: flex;
}

.profile-row__graphic {
  display: flex;
  flex-wrap: wrap;
}
