.bloc {
  position: relative;
  width: 100%;
  max-width: 258px;
  max-height: 263px;
}

.bloc::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.bloc .content {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sizeGraph {
  width: 258px;
}

@media (max-width: 1250px) {
  .sizeGraph {
    width: 230px;
  }
}
@media (max-width: 1130px) {
  .sizeGraph {
    width: 200px;
  }
}
